*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TitleFont";
    src: url("./fonts/Early\ Quake\ DEMO.otf");
}
@font-face {
    font-family: "FooterFont";
    src: url("./fonts/Moralana\ DEMO.otf");
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4BB8FA;
    min-height: 100vh;
}
.page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 40px;
}
.header-main-text{
    font-family: "TitleFont", sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
}
.middle-page-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-top: 20px;
}
#hook-sentence{
    font-family: "FooterFont", sans-serif;
    font-size: 25px;
    font-style: italic;
}
.profiles-search-div{
    width: 50%;
    height: 100%;
    margin-top: 0px;
}
.input-button-section{
    display: flex;
    flex-direction: row;
}
#search-field{
    width: 74%;
    height: 43px;
    margin-left: 0px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #C4E2F5;
    color: black;
    border-color: transparent;
    border-radius: 8px;
    outline: none;
}
#search-field:focus{
    outline: none;
}
#search-button{
    width: 25%;
    height: 44px;
    margin-top: 10px;
    border: 2px solid #3f84f3;
    border-bottom: 7px solid #002a6e;
    border-radius: 8px;
    background-color: #134ba5;
    color: white;
    font-family: "FooterFont", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 7px;
    cursor: pointer;
}
#results-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    background-color: #C4E2F5;
    margin-top: 10px;
    border-radius: 8px;
    border-color: transparent;
}
.main-info-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#profile-avatar{
    width: 120px;
    height: 120px;
    border: 3px solid #3f84f3;
    border-radius: 80px;
    margin-top: 25px;
}
#github-username{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 30px;
}
.more-info-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    margin-top: 10px;
}
#followers{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 800;
}
#followers-number{
    font-size: 50px;
}
.followers-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
#following{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 800;
}
#following-number{
    font-size: 50px;
}
.following-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    height: 100%;
}
.repos-date-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#date-of-creation{
    font-weight: bold;
}
#repos-number{
    font-weight: bold;
}
footer{
    font-size: 15px;
    margin-top: 25px;
    font-family: "FooterFont", sans-serif;
}
@media screen and (max-width: 450px) {
    .header-main-text{
        font-size: 35px;
    }
    #hook-sentence{
        font-size: 20px;
    }
    #search-button{
        font-size: 15px;
    }
}

